{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/font-awesome/4.5.0/css/font-awesome.min.css" />
		<!-- page specific plugin styles -->
		<!-- text fonts -->
		<link rel="stylesheet" href="/static/css/fonts.googleapis.com.css" />
		<!-- ace styles -->
		<link rel="stylesheet" href="/static/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="/static/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/static/css/ace-rtl.min.css" />
		<!-- inline styles related to this page -->
		<!-- ace settings handler -->
		<script src="/static/js/ace-extra.min.js"></script>

		<!-- basic scripts -->
		<script src="/static/js/jquery-2.1.4.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		<script src="/static/js/jquery.dataTables.min.js"></script>
		<script src="/static/js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="/static/js/dataTables.buttons.min.js"></script>
		<script src="/static/js/buttons.html5.min.js"></script>
		<script src="/static/js/buttons.print.min.js"></script>
		<script src="/static/js/buttons.colVis.min.js"></script>
		<script src="/static/js/dataTables.select.min.js"></script>
		<!-- ace scripts -->
		<script src="/static/js/ace-elements.min.js"></script>
		<script src="/static/js/ace.min.js"></script>
{% end %}