{% extends "layout/single_default.html" %}


{% block main_content %}

	<h3 class="header smaller lighter blue">minst serving 演示</h3>
	<div class="row" style="width:400px;">
		{% for image in image_array %}
				  <div class="col-md-2">
					  <img src="{{ image }}" alt="" width="50" class="minst_img" height="50" style="1px solid #e1e4e5;cursor: pointer;">
				  </div>
		{% end %}
	</div>

	<h3 class="header smaller lighter blue">计算结果：</h3>
	<h2 id="prediction_text">1</h2>
<!-- inline scripts related to this page -->
<script type="text/javascript">
jQuery(function($) {
	$(".minst_img").click(
		//提交数据
		function () {
			img_url = $(this).attr("src")
			console.log("here",);
			//
			$.ajax({
			   type: "GET",
			   url: "/minst_serving/prediction",
			   data: "img_url="+img_url,
			   success: function(msg){
				 console.log( "prediction : " + msg );
				 $("#prediction_text").html(msg);
			   }
			});
		}
	);
});
</script>
{% end %}