{% extends "layout/default.html" %}


{% block main_content %}

<!-- 增加 bokeh 样式。-->
<link rel="stylesheet" href="/static/css/bokeh.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/bokeh-widgets.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/bokeh-tables.min.css" type="text/css"/>

<script type="text/javascript" src="/static/js/bokeh.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-widgets.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-tables.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-gl.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>


<h3 class="header smaller lighter blue">数据详细展示</h3>
<div class="table-header">1.</div>

    {% for index,element in enumerate(comp_list) %}
            <div class="row" id="_col_{{ index+1 }}" data-column="{{ index }}">
                {% raw element[0] %}
                {% raw element[1] %}
            </div>
    {% end %}

{% end %}