{% extends "layout/default.html" %}


{% block main_content %}

<!-- 增加 bokeh 样式。-->
<link rel="stylesheet" href="/static/css/bokeh.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/bokeh-widgets.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/bokeh-tables.min.css" type="text/css"/>

<script type="text/javascript" src="/static/js/bokeh.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-widgets.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-tables.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-api.min.js"></script>
<script type="text/javascript" src="/static/js/bokeh-gl.min.js"></script>


<script type="text/javascript">
    Bokeh.set_log_level("info");

</script>

<h3 class="header smaller lighter blue">股票数据详细指标分析</h3>

{% for index,element in enumerate(comp_list) %}
<h4 class="header smaller lighter blue">{{ element["title"] }}</h4>
<div class="row">{{ element["desc"] }}</div>
<div class="row" id="_col_{{ index+1 }}" data-column="{{ index }}">
    {% raw element["div"] %}
    {% raw element["script"] %}
</div>
{% end %}

{% end %}