SHELL=/bin/sh 
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin 
*/1     *       *       *       *       /bin/run-parts /etc/cron.minutely 
10       *       *       *       *       /bin/run-parts /etc/cron.hourly 
30       16       *       *       *       /bin/run-parts /etc/cron.daily 
30       17       1,10,20       *       *       /bin/run-parts /etc/cron.monthly 
