{% block left_menu %}
<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <ul class="nav nav-list">
        <li class="">
            <a href="/">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
            <b class="arrow"></b>
        </li>

        <li class="active open">
            <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="menu-icon fa fa-desktop"></i>-->
                <!--<span class="menu-text">-->
                    <!--股票原始数据-->
                <!--</span>-->
                <!--<b class="arrow fa fa-angle-down"></b>-->
            <!--</a>-->
            <!--<b class="arrow"></b>-->
            <li class="submenu">
                    <li class="open" style="display:none;">
                    {% set loopType = "" %}
                    {% for leftMenuTmp in leftMenu.leftMenuList %}

                        {% if leftMenuTmp.type != loopType %}
                        </li>
                        <li class="open">
                            {% set loopType = leftMenuTmp.type %}
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-pencil-square-o"></i>
                                {{ leftMenuTmp.type }}
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>

                        {% end %}

                        <ul class="submenu">
                            <li>
                                <a href="{{ leftMenuTmp.url }}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    {{ leftMenuTmp.name }}
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>

                    {% end %}
                        </li>
            </ul>

        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
{% end %}